
body {
    background-color: #000;
}

.presentationBackground {
    background-image: url('./assets/images/portfolio-background.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
